<md-button class="md-fab md-fab-bottom-right2" aria-label="Add" ng-click="" style="">
    <ng-md-icon icon="add"></ng-md-icon>
</md-button>
<md-content flex style="height: calc(100% - 170px)">
    <md-card>
        <img ng-src="" class="md-card-image">
        <md-card-content>
            <h2 class="md-title"><b>Mom</b>: Bob's Burgers</h2>
            <p>

            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button><img src="../img/ic_message_black_24px.svg" /></md-button>
            <md-button><img src="../img/ic_delete_black_24px.svg" /></md-button>
        </div>
    </md-card>
    <md-card ng-click="">
        <img ng-src="" class="md-card-image">
        <md-card-content>
            <h2 class="md-title"><b>Dad</b>: Arcade</h2>
            <p>

            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button><img src="../img/ic_message_black_24px.svg" /></md-button>
            <md-button><img src="../img/ic_delete_black_24px.svg" /></md-button>
        </div>
    </md-card>
    <md-card ng-click="">
        <img ng-src="" class="md-card-image">
        <md-card-content>
            <h2 class="md-title"><b>Sister</b>: Club Calysto with <b>Brother</b></h2>
            <p>

            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button><img src="../img/ic_message_black_24px.svg" /></md-button>
            <md-button><img src="../img/ic_delete_black_24px.svg" /></md-button>
        </div>
    </md-card>
    <md-card ng-click="">
        <img ng-src="" class="md-card-image">
        <md-card-content>
            <h2 class="md-title"><b>Brother</b>: Club Calysto with <b>Sister</b></h2>
            <p>

            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button><img src="../img/ic_message_black_24px.svg" /></md-button>
            <md-button><img src="../img/ic_delete_black_24px.svg" /></md-button>
        </div>
    </md-card>
</md-content>