<ng-switch on="data.selectedIndex" class="tabpanel-container">
    <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
        <md-content layout-padding="" layout-sm="column" class="text-center">
            <form name="aboutEventForm">
                <md-input-container flex>
                    <label>Name of Event</label>
                    <input ng-model="eventName.text">
                </md-input-container>
<!--
                 <md-input-container flex>
                    <label>{{fullUsersList[0].name}}</label>
                     <input ng-model="eventName.text">
                </md-input-container>
-->
            </form>
            <p>
                <md-button class="md-raised md-primary md-hue-3" ng-model="invitePeople" btn-radio="'Middle'" ng-click="showPeople($event)">Invite People
                </md-button>
            </p>
            <p>
                <md-button class="md-raised md-primary md-hue-3" ng-model="inviteGroups" btn-radio="'Middle'" ng-click="showAdd($event)">Invite Groups
                </md-button>
            </p>
            <div class="btn-group">
                <md-button class="md-raised md-primary md-hue-3" ng-model="priority" btn-radio="'Middle'">Normal</md-button>
                <md-button class="md-raised md-primary md-hue-3" ng-model="priority" btn-radio="'Right'">High-Priority</md-button>
            </div>
        </md-content>
    </div>
    <!--http://simeonc.github.io/md-date-time/-->
    <!--reference on time-date-picker-->
    <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
        <p>Start on Time, With 24 Hour: {{myTime.date | date:'yyyy/MM/dd HH:mm a'}}</p>
        <div class="modal-dialog">
            <div class="modal-content">
                <time-date-picker ng-model="myTime.date" default-mode="time" display-twentyfour="true"></time-date-picker>
            </div>
        </div>
    </div>
    <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
        <!--Location stuff-->
        <!-- <p>{{ locationStatus }}</p> -->
        <div ng-init="initialize()" id="map-canvas"></div> <!--This div controls the Map-->
        <button ng-click="suggestLocation()">Suggest Location</button>
    </div>
    <!--    Persistant create event button on the bottom-->
</ng-switch>
