<md-tabs md-stretch-tabs class="md-primary md-hue-1" md-selected="data.selectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content">
        About
    </md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">
        Time
    </md-tab>
    <md-tab id="tab3" aria-controls="tab3-content">
        Place
    </md-tab>
</md-tabs>

<ng-switch on="data.selectedIndex" class="tabpanel-container">
    <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()"
         md-swipe-right="previous()">
        <md-content layout-padding="" layout-sm="column" class="text-center">
            <form name="aboutEventForm">
                <md-input-container flex>
                    <label>Name of Event</label>
                    <input ng-model="event.name">
                </md-input-container>
            </form>
            <p>
                <md-button class="md-raised md-primary md-hue-3" ng-model="invitePeople" btn-radio="'Middle'"
                           ng-click="showAdd($event)">Invite People
                </md-button>
            </p>
            <p>
                <md-button class="md-raised md-primary md-hue-3" ng-model="inviteGroups" btn-radio="'Middle'"
                           ng-click="showAdd($event)">Invite Groups
                </md-button>
            </p>
            <div class="btn-group">
                <md-button class="md-raised md-primary md-hue-3" ng-model="priority" btn-radio="'Middle'">Normal</md-button>
                <md-button class="md-raised md-primary md-hue-3" ng-model="priority" btn-radio="'Right'">High-Priority</md-button>
            </div>
        </md-content>
    </div>
    <!--http://simeonc.github.io/md-date-time/-->
    <!--reference on time-date-picker-->
    <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
            <time-date-picker ng-model="dateValue"></time-date-picker>
    </div>
    <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
        <!--Location stuff-->
        <p>{{ locationStatus }}</p>

        <div id="map-canvas"></div>
        <!--This div controls the Map-->
    </div>
    <!--    Persistant create event button on the bottom-->
    <md-button class="md-accent md-raised md-hue-1 text-center" ng-click="createEvent()"
               style="position: absolute; bottom: 0px; width: 100%;">
        Create Event
    </md-button>
</ng-switch>
