<md-tabs md-stretch-tabs class="md-primary md-hue-1" md-selected="data.selectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content">
        Normal
    </md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">
        High Priority
    </md-tab>
</md-tabs>

<!--<ng-switch on="data.selectedIndex" class="tabpanel-container">
    <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
<div class="text-center">
    <md-content md-theme="docs-dark" layout-padding="" layout="row" layout-sm="column">
        <md-input-container>
            <label>Username</label>
            <input ng-model="user.username">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="user.password">
        </md-input-container>
    </md-content>
</div>
    </div>
    <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
    </div>
</ng-switch><!-->

<head>
    <script>
    var Times = [];
    var TimesLength = 105;

    for (i = 0; i <=TimesLength; i++){
        Times[i] = false;
    }

    function setColor(btn, num) {
        var property = document.getElementById(btn);
        if (Times[num] == true){
            property.style.backgroundColor = "#FFFFFF"
            Times[num] = false;
        } else {
             property.style.backgroundColor = "#76FF03"
             Times[num] = true;
        }
    }
</script>
</head>
<style>
    table {
    background: #FF3D00;
    color: #222;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    width: 100%;
    }
    td {
    border: 1px solid #ccc;
    color: #444;
    line-height: 22px;
    text-align: center;
    }
    input {
    background-color:white
    }
</style>
<body>

<div>
    <table>
        <tr>
            <td>Sun</td>
            <td>Mon</td>
            <td>Tue</td>
            <td>Wed</td>
            <td>Thu</td>
            <td>Fri</td>
            <td>Sat</td>
        </tr>
        <tr>
            <td><input type="button" id="button1" value = " 6am " style= "color:black" onclick="setColor('button1', '0')" onmouseover="setColor('button1', '0')";/></td>
            <td><input type="button" id="button2" value = " 6am " style= "color:black" onclick="setColor('button2', '1')" onmouseover="setColor('button2', '1')";/></td>
            <td><input type="button" id="button3" value = " 6am " style= "color:black" onclick="setColor('button3', '2')" onmouseover="setColor('button3', '2')";/></td>
            <td><input type="button" id="button4" value = " 6am " style= "color:black" onclick="setColor('button4', '3')" onmouseover="setColor('button4', '3')";/></td>
            <td><input type="button" id="button5" value = " 6am " style= "color:black" onclick="setColor('button5', '4')" onmouseover="setColor('button5', '4')";/></td>
            <td><input type="button" id="button6" value = " 6am " style= "color:black" onclick="setColor('button6', '5')" onmouseover="setColor('button6', '5')";/></td>
            <td><input type="button" id="button7" value = " 6am " style= "color:black" onclick="setColor('button7', '6')" onmouseover="setColor('button7', '6')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button8" value = " 7am " style= "color:black" onclick="setColor('button8', '7')" onmouseover="setColor('button8', '7')";/></td>
            <td><input type="button" id="button9" value = " 7am " style= "color:black" onclick="setColor('button9', '8')" onmouseover="setColor('button9', '8')";/></td>
            <td><input type="button" id="button10" value = " 7am " style= "color:black" onclick="setColor('button10', '9')" onmouseover="setColor('button10', '9')";/></td>
            <td><input type="button" id="button11" value = " 7am " style= "color:black" onclick="setColor('button11', '10')" onmouseover="setColor('button11', '10')";/></td>
            <td><input type="button" id="button12" value = " 7am " style= "color:black" onclick="setColor('button12', '11')" onmouseover="setColor('button12', '11')";/></td>
            <td><input type="button" id="button13" value = " 7am " style= "color:black" onclick="setColor('button13', '12')" onmouseover="setColor('button13', '12')";/></td>
            <td><input type="button" id="button14" value = " 7am " style= "color:black" onclick="setColor('button14', '13')" onmouseover="setColor('button14', '13')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button15" value = " 8am " style= "color:black" onclick="setColor('button15', '14')" onmouseover="setColor('button15', '14')";/></td>
            <td><input type="button" id="button16" value = " 8am " style= "color:black" onclick="setColor('button16', '15')" onmouseover="setColor('button16', '15')";/></td>
            <td><input type="button" id="button17" value = " 8am " style= "color:black" onclick="setColor('button17', '16')" onmouseover="setColor('button17', '16')";/></td>
            <td><input type="button" id="button18" value = " 8am " style= "color:black" onclick="setColor('button18', '17')" onmouseover="setColor('button18', '17')";/></td>
            <td><input type="button" id="button19" value = " 8am " style= "color:black" onclick="setColor('button19', '18')" onmouseover="setColor('button19', '18')";/></td>
            <td><input type="button" id="button20" value = " 8am " style= "color:black" onclick="setColor('button20', '19')" onmouseover="setColor('button20', '19')";/></td>
            <td><input type="button" id="button21" value = " 8am " style= "color:black" onclick="setColor('button21', '20')" onmouseover="setColor('button21', '20')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button22" value = " 9am " style= "color:black" onclick="setColor('button22', '21')" onmouseover="setColor('button22', '21')";/></td>
            <td><input type="button" id="button23" value = " 9am " style= "color:black" onclick="setColor('button23', '22')" onmouseover="setColor('button23', '22')";/></td>
            <td><input type="button" id="button24" value = " 9am " style= "color:black" onclick="setColor('button24', '23')" onmouseover="setColor('button24', '23')";/></td>
            <td><input type="button" id="button25" value = " 9am " style= "color:black" onclick="setColor('button25', '24')" onmouseover="setColor('button25', '24')";/></td>
            <td><input type="button" id="button26" value = " 9am " style= "color:black" onclick="setColor('button26', '25')" onmouseover="setColor('button26', '25')";/></td>
            <td><input type="button" id="button27" value = " 9am " style= "color:black" onclick="setColor('button27', '26')" onmouseover="setColor('button27', '26')";/></td>
            <td><input type="button" id="button28" value = " 9am " style= "color:black" onclick="setColor('button28', '27')" onmouseover="setColor('button28', '27')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button29" value = "10am" style= "color:black" onclick="setColor('button29', '28')" onmouseover="setColor('button29', '28')";/></td>
            <td><input type="button" id="button30" value = "10am" style= "color:black" onclick="setColor('button30', '29')" onmouseover="setColor('button30', '29')";/></td>
            <td><input type="button" id="button31" value = "10am" style= "color:black" onclick="setColor('button31', '30')" onmouseover="setColor('button31', '30')";/></td>
            <td><input type="button" id="button32" value = "10am" style= "color:black" onclick="setColor('button32', '31')" onmouseover="setColor('button32', '31')";/></td>
            <td><input type="button" id="button33" value = "10am" style= "color:black" onclick="setColor('button33', '32')" onmouseover="setColor('button33', '32')";/></td>
            <td><input type="button" id="button34" value = "10am" style= "color:black" onclick="setColor('button34', '33')" onmouseover="setColor('button34', '33')";/></td>
            <td><input type="button" id="button35" value = "10am" style= "color:black" onclick="setColor('button35', '34')" onmouseover="setColor('button35', '34')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button36" value = "11am" style= "color:black" onclick="setColor('button36', '35')" onmouseover="setColor('button36', '35')";/></td>
            <td><input type="button" id="button37" value = "11am" style= "color:black" onclick="setColor('button37', '36')" onmouseover="setColor('button37', '36')";/></td>
            <td><input type="button" id="button38" value = "11am" style= "color:black" onclick="setColor('button38', '37')" onmouseover="setColor('button38', '37')";/></td>
            <td><input type="button" id="button39" value = "11am" style= "color:black" onclick="setColor('button39', '38')" onmouseover="setColor('button39', '38')";/></td>
            <td><input type="button" id="button40" value = "11am" style= "color:black" onclick="setColor('button40', '39')" onmouseover="setColor('button40', '39')";/></td>
            <td><input type="button" id="button41" value = "11am" style= "color:black" onclick="setColor('button41', '40')" onmouseover="setColor('button41', '40')";/></td>
            <td><input type="button" id="button42" value = "11am" style= "color:black" onclick="setColor('button42', '41')" onmouseover="setColor('button42', '41')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button43" value = "12pm" style= "color:black" onclick="setColor('button43', '42')" onmouseover="setColor('button43', '42')";/></td>
            <td><input type="button" id="button44" value = "12pm" style= "color:black" onclick="setColor('button44', '43')" onmouseover="setColor('button44', '43')";/></td>
            <td><input type="button" id="button45" value = "12pm" style= "color:black" onclick="setColor('button45', '44')" onmouseover="setColor('button45', '44')";/></td>
            <td><input type="button" id="button46" value = "12pm" style= "color:black" onclick="setColor('button46', '45')" onmouseover="setColor('button46', '45')";/></td>
            <td><input type="button" id="button47" value = "12pm" style= "color:black" onclick="setColor('button47', '46')" onmouseover="setColor('button47', '46')";/></td>
            <td><input type="button" id="button48" value = "12pm" style= "color:black" onclick="setColor('button48', '47')" onmouseover="setColor('button48', '47')";/></td>
            <td><input type="button" id="button49" value = "12pm" style= "color:black" onclick="setColor('button49', '48')" onmouseover="setColor('button49', '48')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button50" value = " 1pm " style= "color:black" onclick="setColor('button50', '49')" onmouseover="setColor('button50', '49')";/></td>
            <td><input type="button" id="button51" value = " 1pm " style= "color:black" onclick="setColor('button51', '50')" onmouseover="setColor('button51', '50')";/></td>
            <td><input type="button" id="button52" value = " 1pm " style= "color:black" onclick="setColor('button52', '51')" onmouseover="setColor('button52', '51')";/></td>
            <td><input type="button" id="button53" value = " 1pm " style= "color:black" onclick="setColor('button53', '52')" onmouseover="setColor('button53', '52')";/></td>
            <td><input type="button" id="button54" value = " 1pm " style= "color:black" onclick="setColor('button54', '53')" onmouseover="setColor('button54', '53')";/></td>
            <td><input type="button" id="button55" value = " 1pm " style= "color:black" onclick="setColor('button55', '54')" onmouseover="setColor('button55', '54')";/></td>
            <td><input type="button" id="button56" value = " 1pm " style= "color:black" onclick="setColor('button56', '55')" onmouseover="setColor('button56', '55')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button57" value = " 2pm " style= "color:black" onclick="setColor('button57', '56')" onmouseover="setColor('button57', '56')";/></td>
            <td><input type="button" id="button58" value = " 2pm " style= "color:black" onclick="setColor('button58', '57')" onmouseover="setColor('button58', '57')";/></td>
            <td><input type="button" id="button59" value = " 2pm " style= "color:black" onclick="setColor('button59', '58')" onmouseover="setColor('button59', '58')";/></td>
            <td><input type="button" id="button60" value = " 2pm " style= "color:black" onclick="setColor('button60', '59')" onmouseover="setColor('button60', '59')";/></td>
            <td><input type="button" id="button61" value = " 2pm " style= "color:black" onclick="setColor('button61', '60')" onmouseover="setColor('button61', '60')";/></td>
            <td><input type="button" id="button62" value = " 2pm " style= "color:black" onclick="setColor('button62', '61')" onmouseover="setColor('button62', '61')";/></td>
            <td><input type="button" id="button63" value = " 2pm " style= "color:black" onclick="setColor('button63', '62')" onmouseover="setColor('button63', '62')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button64" value = " 3pm " style= "color:black" onclick="setColor('button64', '63')" onmouseover="setColor('button64', '63')";/></td>
            <td><input type="button" id="button65" value = " 3pm " style= "color:black" onclick="setColor('button65', '64')" onmouseover="setColor('button65', '64')";/></td>
            <td><input type="button" id="button66" value = " 3pm " style= "color:black" onclick="setColor('button66', '65')" onmouseover="setColor('button66', '65')";/></td>
            <td><input type="button" id="button67" value = " 3pm " style= "color:black" onclick="setColor('button67', '66')" onmouseover="setColor('button67', '66')";/></td>
            <td><input type="button" id="button68" value = " 3pm " style= "color:black" onclick="setColor('button68', '67')" onmouseover="setColor('button68', '67')";/></td>
            <td><input type="button" id="button69" value = " 3pm " style= "color:black" onclick="setColor('button69', '68')" onmouseover="setColor('button69', '68')";/></td>
            <td><input type="button" id="button70" value = " 3pm " style= "color:black" onclick="setColor('button70', '69')" onmouseover="setColor('button70', '69')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button71" value = " 4pm " style= "color:black" onclick="setColor('button71', '70')" onmouseover="setColor('button71', '70')";/></td>
            <td><input type="button" id="button72" value = " 4pm " style= "color:black" onclick="setColor('button72', '71')" onmouseover="setColor('button72', '71')";/></td>
            <td><input type="button" id="button73" value = " 4pm " style= "color:black" onclick="setColor('button73', '72')" onmouseover="setColor('button73', '72')";/></td>
            <td><input type="button" id="button74" value = " 4pm " style= "color:black" onclick="setColor('button74', '73')" onmouseover="setColor('button74', '73')";/></td>
            <td><input type="button" id="button75" value = " 4pm " style= "color:black" onclick="setColor('button75', '74')" onmouseover="setColor('button75', '74')";/></td>
            <td><input type="button" id="button76" value = " 4pm " style= "color:black" onclick="setColor('button76', '75')" onmouseover="setColor('button76', '75')";/></td>
            <td><input type="button" id="button77" value = " 4pm " style= "color:black" onclick="setColor('button77', '76')" onmouseover="setColor('button77', '76')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button78" value = " 5pm " style= "color:black" onclick="setColor('button78', '77')" onmouseover="setColor('button78', '77')";/></td>
            <td><input type="button" id="button79" value = " 5pm " style= "color:black" onclick="setColor('button79', '78')" onmouseover="setColor('button79', '78')";/></td>
            <td><input type="button" id="button80" value = " 5pm " style= "color:black" onclick="setColor('button80', '79')" onmouseover="setColor('button80', '79')";/></td>
            <td><input type="button" id="button81" value = " 5pm " style= "color:black" onclick="setColor('button81', '80')" onmouseover="setColor('button81', '80')";/></td>
            <td><input type="button" id="button82" value = " 5pm " style= "color:black" onclick="setColor('button82', '81')" onmouseover="setColor('button82', '81')";/></td>
            <td><input type="button" id="button83" value = " 5pm " style= "color:black" onclick="setColor('button83', '82')" onmouseover="setColor('button83', '82')";/></td>
            <td><input type="button" id="button84" value = " 5pm " style= "color:black" onclick="setColor('button84', '83')" onmouseover="setColor('button84', '83')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button85" value = " 6pm " style= "color:black" onclick="setColor('button85', '84')" onmouseover="setColor('button85', '84')";/></td>
            <td><input type="button" id="button86" value = " 6pm " style= "color:black" onclick="setColor('button86', '85')" onmouseover="setColor('button86', '85')";/></td>
            <td><input type="button" id="button87" value = " 6pm " style= "color:black" onclick="setColor('button87', '86')" onmouseover="setColor('button87', '86')";/></td>
            <td><input type="button" id="button88" value = " 6pm " style= "color:black" onclick="setColor('button88', '87')" onmouseover="setColor('button88', '87')";/></td>
            <td><input type="button" id="button89" value = " 6pm " style= "color:black" onclick="setColor('button89', '88')" onmouseover="setColor('button89', '88')";/></td>
            <td><input type="button" id="button90" value = " 6pm " style= "color:black" onclick="setColor('button90', '89')" onmouseover="setColor('button90', '89')";/></td>
            <td><input type="button" id="button91" value = " 6pm " style= "color:black" onclick="setColor('button91', '90')" onmouseover="setColor('button91', '90')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button92" value = " 7pm " style= "color:black" onclick="setColor('button92', '91')" onmouseover="setColor('button92', '91')";/></td>
            <td><input type="button" id="button93" value = " 7pm " style= "color:black" onclick="setColor('button93', '92')" onmouseover="setColor('button93', '92')";/></td>
            <td><input type="button" id="button94" value = " 7pm " style= "color:black" onclick="setColor('button94', '93')" onmouseover="setColor('button94', '93')";/></td>
            <td><input type="button" id="button95" value = " 7pm " style= "color:black" onclick="setColor('button95', '94')" onmouseover="setColor('button95', '94')";/></td>
            <td><input type="button" id="button96" value = " 7pm " style= "color:black" onclick="setColor('button96', '95')" onmouseover="setColor('button96', '95')";/></td>
            <td><input type="button" id="button97" value = " 7pm " style= "color:black" onclick="setColor('button97', '96')" onmouseover="setColor('button97', '96')";/></td>
            <td><input type="button" id="button98" value = " 7pm " style= "color:black" onclick="setColor('button98', '97')" onmouseover="setColor('button98', '97')";/></td>
        </tr>
        <tr>
            <td><input type="button" id="button99" value = " 8pm " style= "color:black" onclick="setColor('button99', '98')" onmouseover="setColor('button99', '98')";/></td>
            <td><input type="button" id="button100" value = " 8pm " style= "color:black" onclick="setColor('button100', '99')" onmouseover="setColor('button100', '99')";/></td>
            <td><input type="button" id="button101" value = " 8pm " style= "color:black" onclick="setColor('button101', '100')" onmouseover="setColor('button101', '100')";/></td>
            <td><input type="button" id="button102" value = " 8pm " style= "color:black" onclick="setColor('button102', '101')" onmouseover="setColor('button102', '101')";/></td>
            <td><input type="button" id="button103" value = " 8pm " style= "color:black" onclick="setColor('button103', '102')" onmouseover="setColor('button103', '102')";/></td>
            <td><input type="button" id="button104" value = " 8pm " style= "color:black" onclick="setColor('button104', '103')" onmouseover="setColor('button104', '103')";/></td>
            <td><input type="button" id="button105" value = " 8pm " style= "color:black" onclick="setColor('button105', '104')" onmouseover="setColor('button105', '104')";/></td>
        </tr>
    </table>
</div>
</body>

